h1{
    color: violet;
    background-color: yellow;
    width: auto;
}

h1:hover{
    color: blue;
    background-color: transparent;
}
p{
    color: violet;
    font-size: 30px;
    border: 5px dotted red;
    border-radius: 30px;
}
